{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    {% if title %}#}
{#        <title>Django HOME - {{ title }}</title>#}
{#    {% else %}#}
{#        <title>Django HOME</title>#}
{#    {% endif %}#}
{#</head>#}
{#<body>#}
{#    <h1>Blog home!!!!</h1>#}
{#    {% for posts in post %}#}
{#        <h1>{{posts.title }}</h1>#}
{#        <p>By {{posts.author }} on {{posts.date_posted }}</p>#}
{#        <p>By {{posts.content }}</p>#}
{#    {% endfor %}#}
{#</body>#}
{#</html>#}






{% extends "blog/base.html" %}
{% block content %}
{#    {% for posts in post %}#}
{#        <h1>{{posts.title }}</h1>#}
{#        <p>By {{posts.author }} on {{posts.date_posted }}</p>#}
{#        <p>By {{posts.content }}</p>#}
{#    {% endfor %}#}
    {% for posts in post %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ posts.author.profile.image.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ posts.author }}</a>
              <small class="text-muted">{{ posts.date_posted | date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ posts.title }}</a></h2>
            <p class="article-content">{{ posts.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}